<mat-card-header>
  <mat-card-title>Register</mat-card-title>
</mat-card-header>


<form class="form-container" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <mat-card-content>
    <mat-form-field class="input-field">
      <input matInput placeholder="Username" formControlName="userName" required>
      <mat-error align="end"
                 *ngIf="registrationForm.get('userName').hasError('required') && registrationForm.get('userName').touched">
        Please enter your username
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-hint align="end">Hint: email@domain.com</mat-hint>
      <mat-error align="end"
                 *ngIf="registrationForm.get('email').hasError('email') && registrationForm.get('email').touched">
        Email address should look like this email@domain.com
      </mat-error>
      <mat-error align="end"
                 *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-hint align="end">Hint: Min 5 symbols(1 letter, 1 digit and 1 special character)</mat-hint>
      <mat-error align="end"
                 *ngIf="registrationForm.get('password').hasError('required') && registrationForm.get('password').touched">
        Please create your password
      </mat-error>
      <mat-error align="end"
                 *ngIf="registrationForm.get('password').hasError('minlength') && registrationForm.get('password').touched">
        Your password too short, min length 5 characters
      </mat-error>
      <mat-error align="end"
                 *ngIf="registrationForm.get('password').hasError('maxlength') && registrationForm.get('password').touched">
        Your password too long, max length 64 characters
      </mat-error>
      <mat-error align="end"
                 *ngIf="registrationForm.get('password').hasError('pattern') && registrationForm.get('password').touched">
        Your password should contain at least 1 letter, 1 digit and 1 special character
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="Password Confirmation" formControlName="passwordConfirmation"
             required>
      <mat-error align="end"
                 *ngIf="registrationForm.get('passwordConfirmation').hasError('required') && registrationForm.get('passwordConfirmation').touched">
        Please repeat password
      </mat-error>
      <mat-error align="end"
                 *ngIf="registrationForm.get('passwordConfirmation').errors && registrationForm.get('passwordConfirmation').touched">
        Entered passwords doesn't match
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
      <textarea matInput placeholder="Personal Info" formControlName="personalInfo"></textarea>
    </mat-form-field>

    <mat-form-field class="input-field">
      <mat-label>Select your gender</mat-label>
      <mat-select (change)="selectGender($event)" formControlName="gender" required>
        <mat-option *ngFor="let sex of gender" [value]="sex.value">{{sex.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error align="end"
                 *ngIf="registrationForm.get('gender').hasError('required') && registrationForm.get('gender').touched">
        Please enter your gender
      </mat-error>
    </mat-form-field>

  </mat-card-content>

  <button type="submit" mat-stroked-button color="accent" class="btn-block">Register</button>

</form>
